<table id="process_data_thead" class="am-table-bordered am-table-compact am-table am-table-radius am-table-striped am-table-hover">
    <thead>
      <tr style="background-color: #030303; color: #ffffff;">
        <th style="width:29.5%;" id="name">进程名称</th>
        <th style="width:10%;"   id="pid">PID</th>
        <th style="width:10%;"   id="cpu_percent">CPU占用</th>
        <th style="width:11.5%;" id="memory_percent">内存占用</th>
        <th style="width:18%;"   id="username">用户名</th>
        <th style="width:22%;"   id="create_time">创建时间</th>
      </tr>
    </thead>
  </table> 
  <div class="am-scrollable-vertical" style="height: 25em;">
    <table id="process_data" class="am-table-bordered am-table-compact am-table am-table-radius am-table-striped am-table-hover">
      <tbody>
      </tbody>
    </table>
  </div>