<table id="" class="am-table-bordered am-table-compact am-table am-table-radius am-table-striped am-table-hover">
  <thead>
    <tr style="background-color: #030303; color: #ffffff;">
      <th id="name" style="width:27.5%;">进程名称</th>
      <th id="IP" style="width:23%;"  >IP</th>
      <th id="port" style="width:10%;"  >本机端口</th>
      <th id="yIP" style="width:14.5%;">远程IP</th>
      <th id="yport" style="width:11%;"  >远程端口</th>
      <th id="status" style="width:22%;"  >状态</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="am-scrollable-vertical" style="height: 25em;">
    <table id="port_data" class="am-table-bordered am-table-compact am-table am-table-radius am-table-striped am-table-hover">
      <tbody>
      </tbody>
    </table>
</div>
