<script type="text/javascript">
    if(!window.GLOBLE){
        window.GLOBLE = {}
    }
    GLOBLE.PROCESS = "{{ url_for('view_process') }}"
    GLOBLE.NETWORK = "{{ url_for('view_network') }}"
    GLOBLE.PORT = "{{ url_for('view_port') }}"
    GLOBLE.DELETE_PROCESS = "{{ url_for('view_delete_process') }}"
    GLOBLE.DISK = "{{ url_for('view_disk') }}"
    GLOBLE.TRAVERSE_DISK = "{{ url_for('view_traverse_disk') }}"
    GLOBLE.INFORMATION = "{{ url_for('view_information') }}"
    GLOBLE.KEYWORD = "{{ url_for('view_keyword') }}"
    GLOBLE.CONSUMPTION = "{{ url_for('view_consumption') }}"
</script>