<!-- 编码(保证中文不会乱码) -->
<meta charset="utf-8" />

<!-- 针对IE，使用edge内核而不是IE内核(如果可以的话) -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- SEO(搜索引擎优化) -->
<meta name="description" content="" />
<meta name="keywords" content="" />

<!-- 响应式需要的 -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit" />

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="/static/lib/amazeui/i/favicon.png" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes" />
<link rel="icon" sizes="192x192" href="/static/lib/amazeui/i/app-icon72x72@2x.png" />

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="apple-touch-icon-precomposed" href="/static/lib/amazeui/i/app-icon72x72@2x.png" />

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="/static/lib/amazeui/i/app-icon72x72@2x.png" />
<meta name="msapplication-TileColor" content="#0e90d2" />

<!-- Amaze-UI.css -->
<link rel="stylesheet" href="/static/lib/amazeui/css/amazeui.min.css" />