<!DOCTYPE html>
<html class="no-js">
<head>
    {% include "part/head-meta-link.html" ignore missing with context %}
    <title>示例-首页</title>
    <!--在这里编写你的HTML代码-->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    
</head>
<body>

    {% include "part/body-global-variable.html" ignore missing with context %}
    
    {% include "part/body-header.html" ignore missing with context %}
    <!-- 编写html代码 -->

    {% include "part/body-script-src.html" ignore missing with context %}
    <!--在这里编写你的JS代码-->
    
</body>
</html>